.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  /* background-color: #282c34; */
  /* background-color: red; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* box-sizing: border-box; */
  /* padding: 1%; */
  font-size: calc(10px + 2vmin);
  color:black;
  overflow: none;
}

.add-button-block {
  display: flex;
  width: 100%;
  height: 3%;

}

.add-button-block > button {
  width: 100%;

}

.content-viewer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 29%;
  /* background: blue; */
}


.ask-block {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.ask-block > button {
  height: 5%;
}

.ask-block > button:not(:first-child) {
  margin-left: 1%;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
